<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Thymeleaf3</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<div th:insert="~{fragments/header::header}"></div>
	
	<div>
	<ul>
	  <li><a th:href="@{http://localhost:8080/sample1}">sample1</a></li>
	  <li><a th:href="@{/sample1}">sample1</a></li>
	  <li><a th:href="@{~/sample1}">sample1</a></li>
	  
	  <li><a th:href="@{/sample1(p1='aaa', p2='bbb')}">sample1</a></li>
	  
	</ul>
	</div>
	
	<div th:insert="~{fragments/footer::footer}"></div>
	
</body>
</html>
